

.product-checkmarks .row {
    display: grid;
    grid-template-columns: 5vw 70vw; /* Checkbox = 10vw, Text = 60vw */
    align-items: center;
   /* Centers each row */
     /* Ensures it only takes needed space */
}

.product-checkmarks .hebrew .row {
    grid-template-columns: 50vw 6vw; /* Reverse for Hebrew */
}

.product-checkmarks .row .checkbox {
    width: 5vw;
}

.product-checkmarks .row input {
    width: 2vw;
    height: 2vw;
}

.product-checkmarks .row .text {
    font-size: 1.5vw;
}

.product-checkmarks .lang-he {
    display: none; /* Hide Hebrew by default */
    direction: rtl;
}

.product-checkmarks .lang-en {
    direction: ltr;
}


#contact-form button {
    width: 30vw;
}

button:disabled {
    opacity: .5;
    pointer-events: none;
}
