/* Global and Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alef', Arial, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding-top: 80px; /* Height of the navbar */
}
