#landing-page .hero h2 {
    /*background-color: rgba(255, 255, 255, 0.8);  Default white with transparency */
    width: 80%; /* Adjust width as needed */
    border-radius: 10px; /* Round the corners, adjust value for more/less rounding */
    text-align: center;
    display: block;
    margin: 0 auto; /* Center horizontally */
}

/* Adjust the transparency by changing the last value in rgba, e.g., rgba(255, 255, 255, 1) for no transparency */