/* Navbar Styles */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

    #navbar .logo {
        flex: 1;
    }

        #navbar .logo img {
            max-width: 50px;
            height: auto;
        }

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}

    .nav-links li {
        margin: 0 15px;
    }

    .nav-links a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

.language-switcher {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

    .language-switcher a {
        text-decoration: none;
        color: #333;
        margin: 0 50px;
    }

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    left: -40px; /* Adjust this value to move it further right or left */
}

    .hamburger span {
        height: 3px;
        background: #333;
        margin: 5px 0;
        width: 25px;
    }

/* Responsive Navbar Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: fixed;
        right: 0;
        height: 100%;
        top: 0;
        flex-direction: column;
        background-color: #ffffff;
        width: 200px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

        .nav-links li {
            margin: 20px 0;
        }

        .nav-links.active {
            display: flex;
            transform: translateX(0%);
        }

    .hamburger {
        display: flex;
    }

    .language-switcher {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        z-index: 1000;
    }
}
