/* Styles for smaller mobile screens */

@media (max-width: 768px) {
    .text-overlay {
        color: black;
        font-size: 4vw;
        text-align: center;
        width: 100%; /* Changed from 100vw */
        box-sizing: border-box; /* Added for safety */
    }

    :root {
        --landing-top: 60vw;
        --metaphor-top: 190vw;
        --about-us-top: 240vw;
        --services-top: 370vw;
        --future-roadmap-top: 730vw;
        --custom-plugin-top: 835vw;
        --contact-top: 914vw;
    }
    
    #landing-page {
        top: var(--landing-top);
        width: 100%; /* Changed from 100vw */
        padding: 15px;
        box-sizing: border-box; /* Added for safety */
    }
    
    #metaphor-section {
        top: var(--metaphor-top);
        width: 100%;
    }
    
    #about-us {
        top: var(--about-us-top);
        width: 100% !important;
    }
    
    #services {
        top: var(--services-top);
        width: 100% !important;
    }
    
    #future-roadmap {
        top: var(--future-roadmap-top);
        width: 100%;
    }
    
    #custom-plugin {
        top: var(--custom-plugin-top);
        width: 90%;
    }
    
    #contact {
        top: var(--contact-top);
        width: 75% !important;
    }
    
}
