.text-overlay {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 2vw;
    text-align: center;
}

#landing-page {
    top: 18vw; /* Keep the existing top value */
    width: 40%; /* Example width, adjust as needed */
    max-width: 1200px; /* Optional: maximum width */
    margin: 0 auto; /* Centers the section horizontally */
    padding: 20px; /* Optional: padding around content */
}

#metaphor-section {
    top: 50vw; /* Adjust as needed */
    width: 28%;
}

#about-us {
    top: 65vw; /* Adjust as needed */
    width: 90%;
}


#services {
    top: 106vw; /* Adjust as needed */
    width: 80%;
    
}

#future-roadmap {
    top: 255vw; /* Adjust as needed */
    width: 50%;
}
    

#custom-plugin {
    top: 280vw; /* Adjust as needed */
    width: 50%;
}
    
#contact {
top: 310vw; /* Adjust as needed */
width: 35%;
}
    