.plugin-block:first-of-type {
    margin-top: 5vw; /* More space above first block on mobile, adjust as needed */
}
.plugin-block {
    position: relative;
    margin-left: -40vw; /* Mobile: move block off center, adjust as needed */
}
.plugin-title,
.plugin h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;   
}

.plugin-title.fabpackager.lang-en { top: -2.5vw;  }
h3.fabpackager.lang-en { top: 5vw;  }

.plugin-title.fabpackager.lang-he { top: -3vw;  }
h3.fabpackager.lang-he { top: 4vw;  }

.plugin-title.bimchecker.lang-en { top: -1.5vw; }
h3.bimchecker.lang-en { top: 6.5vw;  }

.plugin-title.bimchecker.lang-he { top: 1vw;  }
h3.bimchecker.lang-he { top: 5vw;  }

.plugin-title.drawingcreator.lang-en { top: -3vw;  }
h3.drawingcreator.lang-en { top: 4.5vw;  }

.plugin-title.drawingcreator.lang-he { top: -1.5vw;  }
h3.drawingcreator.lang-he { top: 3vw;  }


.plugin-title {
    top: -4vw; /* Move title down or up, adjust value as needed */
    line-height: 0.9;
    font-size: 3.2vw;
}
.plugin h3 {
    top: 2.5vw; /* Move h3 down or up, adjust value as needed */
    line-height: 1.3;
    font-size: 2vw; /* smaller than the 3vw title */
    
}
.plugin img {
    width: 38vw;   /* Mobile image width control */
   
}


/* Mobile-only size tweak for the overlay text; keeps position unchanged */
@media (max-width: 1025px) {
    .plugin-block:first-of-type {
        margin-top: 15vw; /* More space above first block on mobile, adjust as needed */
    }
    .plugin-block {
        margin-left: -22vw; /* Mobile: move block off center, adjust as needed */
    }
    .plugin h3 {
        font-size: 4vw; /* smaller than the 3vw title */
    }
    .plugin-title {
        font-size: 6.4vw;
    }
    .plugin h3.lang-en {
        top: 5vw; /* English position */
    }
    .plugin h3.lang-he {
        top: 5vw; /* Hebrew position, adjust as needed */
    }
    .plugin-title.lang-en {
        top: -10vw;
    }
      .plugin-title.lang-he {
        top: -10vw;
    }
    .plugin img {
        width: 70vw;   /* Mobile image width control */
    }

    .plugin-title.fabpackager.lang-en { top: -8vw;  }
    h3.fabpackager.lang-en { top: 7vw;  }

    .plugin-title.fabpackager.lang-he { top: -8vw;  }
    h3.fabpackager.lang-he { top: 5vw;  }

    .plugin-title.bimchecker.lang-en { top: -5vw; }
    h3.bimchecker.lang-en { top: 10vw;  }

    .plugin-title.bimchecker.lang-he { top: -1vw;  }
    h3.bimchecker.lang-he { top: 7vw;  }

    .plugin-title.drawingcreator.lang-en { top: -7vw;  }
    h3.drawingcreator.lang-en { top: 8vw;  }

    .plugin-title.drawingcreator.lang-he { top: -5vw;  }
    h3.drawingcreator.lang-he { top: 3vw;  }


   
}